<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GeekMania</title>
  <!--LINKS-->
  <link rel="shortcut icon" href="/images/logo/logogeek.png" type="image/x-icon">
  <!--custom css link-->
  <link rel="stylesheet" href="/stylesheets/style-prefix.css">
  <!--GOOGLE FONT-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/cdad6d9352.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="overlay" data-overlay></div>

  <!--HEADER-->

  <header>
    

    <div class="header-main">

      <div class="container">
        <a href="#" class="header-logo">
          <img src="/images/logo/logogeek.png" alt="" width="120" height="36">
        </a>

        </div>

 

    </div>

  

    <nav class="desktop-navigation-menu">

      <div class="container">
        <ul class="desktop-menu-category-list">
          <li class="menu-category">
            <a href="#" class="menu-title">Inicio</a>
          </li>
          <li class="menu-category">
            <a href="/mostrarProductos" class="menu-title">Productos</a>

          </li>

          <li class="menu-category">
            <a href="/nosotros" class="menu-title">Nosotros</a>
          </li>

          <li class="menu-category">
            <a href="/productos"><i class="fa-solid fa-user"></i>Administrar</a>
          </li>

        </ul>

      </div>

    </nav>
  
  </header>

  <!-- MAIN -->

  <main>

    <!-- BANNER -->
    <div class="banner">

      <div class="container">

        <div class="slider-container has-scrollbar">

          <div class="slider-item">
            <img src="/images/BannerFunkos.jpg" alt="women's latest fashion sale" class="banner-img">
            <div class="banner-content">

            </div>
          </div>

          <div class="slider-item">
            <img src="/images/Bannermar.jpg" alt="modern sunglasses" class="banner-img">
            <div class="banner-content">
            </div>
          </div>

          <div class="slider-item">
            <img src="/images/bannerManga.jpg" alt="new fashion summer sale" class="banner-img">
            <div class="banner-content">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--PRODUCTOS-->
    <div class="product-container">

      <div class="container">


  
        <!-- PRODUCTOS -->
        <div class="product-box">


    <!-- BLOG -->
    <div class="blog">

      <div class="container">

        <div class="blog-container has-scrollbar">

          <div class="blog-card">
            <a href="/mostrarProductos">
              <img src="/images/1681203346174_comicBatman.gif" alt="banner blog" width="300" height="350" class="blog-banner">
            </a>
            <div class="blog-content">
              <h5 style="color: #ff0000;">Comics</h5>
              <a href="/mostrarProductos">
                <h3 class="blog-title">Los comics más exclusivos y codiciados en el mercado.</h3>
              </a>
            </div>
          </div>

          <div class="blog-card">
            <a href="/mostrarProductos">
              <img src="/images/1681203346174_flashRopa.jpg" alt="banner blog" width="300" height="350" class="blog-banner">
            </a>
            <div class="blog-content">
                <h5 style="color: #ff0000;">Ropa</h5>
              <a href="/mostrarProductos">
                <h3 class="blog-title">Ropa original con los estampados de tus super héroes y personajes favoritos.</h3>
              </a>
            </div>
          </div>

          <div class="blog-card">
            <a href="/mostrarProductos">
              <img src="/images/1681203346174_wars1.jpg" alt="banner blog" width="300" height="350" class="blog-banner">
            </a>
            <div class="blog-content">
                <h5 style="color: #ff0000;">Peliculas</h5>
              <a href="/mostrarProductos">
                <h3 class="blog-title">Peliculas originales en Blu Ray, para completar tu colección.</h3>
              </a>
            </div>
          </div>

          <div class="blog-card">
            <a href="/mostrarProductos">
              <img src="/images/1681171433821_funko1.jpg" alt="banner blog" width="300" height="350" class="blog-banner">
            </a>
            <div class="blog-content">
                <h5 style="color: #ff0000;">Funkos Coleccionables</h5>
              <a href="/mostrarProductos">
                <h3 class="blog-title">Los Funkos coleccionables y más exclusivos del mercado.</h3>
              </a>
            </div>
          </div>
          
          

      </div>

    </div>

  </main>

  <!-- FOOTER -->

  <footer>

    <div class="footer-nav">

      <div class="container">

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Contactos</h2>
          </li>

          <li class="footer-nav-item">
            <h5 style="color: white;">56 12345678/h5>
          </li>

          <li class="footer-nav-item">
            <h5 style="color: white;">Ubicación</h5>
          </li>

          <li class="footer-nav-item">
            <h5 style="color: white;">bigfernand1@hotmail.com</h5>
          </li>


        </ul>

        <ul class="footer-nav-list">
        
          
        
        </ul>

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Caterorias</h2>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Funkos</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Funkos</a>
          </li>

       
      </div>
    </div>
  </footer>

  <!--SCRIPTS-->
  <script src="./assets/js/script.js"></script>

  <!-- ionicon link -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>

<script src="/javascript/script.js"></script>